*{
    margin:  0px;
    padding: 0px;
}


#left{
    border: 1px solid green;
    display: flex;
    /* flex-direction: column; */
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

}


#inputdabba{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


#text{
    height: 30px;
    width: px;
}